* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: black;
    overflow: visible;
}

.title {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 100px;
    background: url(transparentTitleLong.png);
    background-position: center;
    background-size: cover;
    z-index: 2;
}

.bgPicture {
    position: relative;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    height: 40vh;
    background:
        url('darkForestMainPage.jpeg') center center / cover,
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.8) 100%);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    border: 10px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.input {
    position: relative;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('maglass.png');
    background-position: 10px center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 65vw;
    height: 10px;
    border: 1px solid mediumaquamarine;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    z-index: 3;
}

.linkList {
    display:none;
    position: relative;
    list-style-type: none;
    max-height: 170px;
    overflow-y: auto; /* Can scroll */
    width: 65vw;
    top: 75px;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    border: 1px solid black;
  }

.linkList li a {
    display: block;
    border: 1px solid black;
    margin-top: -1px; /* Prevents double borders */
    background-color: mediumaquamarine;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.linkList li a:hover:not(.header) {
    background-color: white;
}

.buttonMenu {
    position: relative;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px 5px;
}

.button {
    background-color: mediumaquamarine;
    border: none;
    color: black;
    font-family: 'Gill Sans';
    text-align: center;
    font-size: 19px;
    padding: 15px 2px;
    margin: 5px;
    border-radius: 12px;
    transition-duration: 0.5s;
    width: 18vw;
    height: auto;
    cursor: pointer;
}


.button:hover {
    background-color: aliceblue;
}

/* Dynamic adjustment for responsiveness */
@media (max-width: 800px) {
    .title {
        background-image: url('transparentTitle.png');
        top: 10px;
        width: 300px;
        height: 200px;
    }

    .input {
        width: 59vw;
        top: -300px;
    }
    .linkList {
        top: -300px;
        max-height: 300px;
    }

    .bgPicture {
        left: 50%;
        transform: translateX(-50%);
        width: 75vw;
        height:350px;
    }

    .buttonMenu {
        top: 0px;
        padding: 10px;
        gap: 0 0;
    }
    .button {
        padding: 4px;
    }
}

@media (max-width: 600px){
    .button {
        font-size: 16px;
    }
}