body {
    background-image: url('leaf.jpg');
}

.earPage {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: darkolivegreen;
    justify-content: flex-start;
    align-items: center;
    height: 100%; 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    background-attachment: fixed;
}

/* Expanding menu components */
.menuIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    color: white;
}
.icon {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    z-index: 4;
}
.icon.open {
    font-size: 20px;
    z-index: 4;
}
.menuLinks {
    position: absolute;
    padding: 20px;
    display: none;
    flex-direction: column;
    width: 30vw;
    right: -5px;
    top: 0px;
    border: 1px solid grey;
    background: lightgrey;
    z-index: 3;
}
.menuLinks a {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
}
.menuLinks p {
   color: green;
}
.menuLinks a:hover {
    background-color: lightgray;
}

/* Big heading */
h1 {
    position:absolute;
    top: 10px;
    font-size: 70px; /* Very large text */
    color: white; /* White text for contrast */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Shadow for better visibility */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}  
.buttonMenu{
    position:relative; 
    background-size:200px 200px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-top:280px;
    margin-left: auto;
    margin-right:auto;
}
/* Style for link buttons */
.buttonMenu a {
    position: relative;
    padding: 10px 20px;
    cursor:pointer ;
    margin: 10px;
    background-image: url('river.jpg');
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    font-size: 18px;
    border:2px solid lightgreen;
    transition: 0.3s ease; /* Smooth hover effect */
}
.link-button:hover {
    background-color: #004d40; /* Darker teal on hover */
}

.bgPic {
    position:relative;
    height: 10vh;
    aspect-ratio: 1/1;
    z-index: 1;
}

@media(max-width:768px) {
    .buttonMenu a {
        width: 60vw;
    } 
    .buttonMenu{
        grid-template-columns: repeat(1,1fr);
        margin-top:300px;
        top: 10px;
        padding-bottom: 10px;
    }
    .earpage {
        height:fit-content;
    }
    
}




