body{
    background-color: goldenrod;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
}
a {
    color:white;
    text-decoration: none;
}
a:hover {
    color:black;
}

.numPage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background:goldenrod;
    background-attachment: fixed;
}

/* Expanding menu components */
.menuIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}
.icon {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    z-index: 4;
}
.icon.open {
    font-size: 20px;
    z-index: 4;
}
.menuLinks {
    position: absolute;
    padding: 20px;
    display: none;
    flex-direction: column;
    width: 30vw;
    right: -5px;
    top: 0px;
    border: 1px solid grey;
    background: lightgrey;
    z-index: 3;
}
.menuLinks a {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
}
.menuLinks p {
   color: goldenrod;
}
.menuLinks a:hover {
    background-color: lightgray;
}

/* Header styling: image */
.title {
    position: absolute;
    background: url(numTitle.png);
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 520px;
    height: 120px;
    background-position: center;
    background-size: cover;
    z-index: 2;
}

/* quote box */
.quote {
    position: relative;
    margin-top: 90px; /* The text stays near the top and middle */
    top: 100px;
    width: 50vw;
    z-index: 2;
    padding: 5px;
    background: rgba(186, 186, 186, 0.8);
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Image of the number 11:11 is fixed and close to the centre */
.bgPic {
    position: fixed;
    top: 450px;
}

/* Styling for links */
.linkList {
    position: relative;
    margin-top: 400px;
    display:grid;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr); /* When screen is large, link are shown as two rows */
    width: 90vw;
    gap: 5px;
    z-index: 2;
    justify-content: space-evenly;
}

.linkList a{
    background:black;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 5px;
    z-index: 2;
    width: auto;
    align-items: center;
}

.linkList a:hover{
    background:darkgrey;
    border: 1px solid black;
}

/* Dynamic adjustment for responsiveness */
@media (max-width: 768px) {
    .linkList {
        margin-top: 250px;
        grid-template-columns: repeat(1, 1fr); /* Links are shown as a single column after a certain  screen size */
    }
    .title {
        width: 320px;
        height: 70px;
    }
    .quote p {
        font-size: 9px;
        top: 30px;
    }
    .bgPic {
        top: 500px;
    }
}
