body {
    background-image: url('campfire.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header styling */
header {
    background-color: #3f1b0e;
    color: white;
    padding: 30px 0;   
}
h1 {
    margin:0;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
}
.subtitle {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: white;
    margin-top: 150px; 
    font-family: "Times New Roman", Times, serif;
    font-style: italic; 
}

/* Specifications for main body container */
.container {
    display: flex;
    justify-content: space-around; /* Spreads content evenly */
    align-items: flex-start; /* Aligns items to the top */
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Expanding menu components */
.menuIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.icon {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    z-index: 4;
}

.icon.open {
    font-size: 20px;
    z-index: 4;
}

.menuLinks {
    position: absolute;
    padding: 20px;
    display: none;
    flex-direction: column;
    width: 30vw;
    right: -5px;
    top: 0px;
    border: 1px solid grey;
    background: lightgrey;
    z-index: 3;
}

.menuLinks a {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    text-align: start;
}

.menuLinks p {
    color: #a74616;
    text-align: start;
}

.menuLinks a:hover {
    background-color: lightgray;
}

/*Styling for the links */
.column {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    width: 45%;
    text-align: left;
}

ul {
    list-style-type: none; /* Removes default bullets */
    padding: 0;
}

li {
    background-color: rgba(255, 255, 255, 0.8); /* Makes background semi-transparent */
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px; /* Rounds corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adds shadow to create 3D effect */
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

li:hover {
    transform: scale(1.05); /* When hovered over, increases its size */
}

a {
    text-decoration: none;
    color: #a74616;
    font-weight: bold;
    display: block; /* Makes the whole box clickable */
}

a:hover {
    color: #000000;
}

/* Dynamic adjustments for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stacks columns vertically when screen is small */
        align-items: center;
    }
    .column {
        width: 90%; 
        margin-bottom: 20px;
    }
}
