body {
    background-color:#242424;
}
p {
    font-family: Verdana;
    font-size: 16px;
    color: white;
}
a {
    color: white;
}
.conspPage {
    position: relative;
    width: 100%;
    height: 100%;
    background: #242424;
}
#temp-link-storage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bgPic {
    width: 75vw;
    height: 75px;
    background:
        url('moon.jpg') center center / cover,
}

.sideLinkMenu {
    
}

.linkBar {

}