body{
    background-color: black;
}
p {
    color:red;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:visited {
    color:black;
}

.conspPage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: black;
}

.menuIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 4;
}
.icon {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    color: white;
}
.icon.open {
    font-size: 20px;
    z-index: 5;
}
.menuLinks {
    position: absolute;
    padding: 20px;
    display: none;
    flex-direction: column;
    width: 30vw;
    right: -5px;
    top: 0px;
    border: 1px solid grey;
    background: lightgrey;
    z-index: 4;
}
.menuLinks a {
    padding: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
}
.menuLinks a:hover {
    background-color: lightgray;
}

#temp-link-storage {
    display: none;
}

.title {
    position: absolute;
    background: url(9:11.png);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 100px;
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.bgPic {
    position: fixed;
    width: 60vw;
    aspect-ratio: 1/1;
    background: url('moon.jpg') center center / cover;
    z-index: 1;
    margin-right: auto;
    top: 200px;
}

.sideLinkMenu {
    display:flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
    margin-top: 500px;
}

.sideLinkMenu a{
    background:darkred;
    border: none;
    padding: 10px;
    display: inline-block;
    margin-bottom: 5px;
    z-index: 2;
    width: 90vw;
    align-items: center;
}
.sideLinkMenu a:hover {
    background: red;
}

.linkBar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    z-index: 3;
    left: 50%;
    margin-top: 110px;
    transform: translateX(-50%)
}

.linkBar a {
    padding: 10px;
    width: 250px;
    min-height: 50px;
    background-color: transparent;
    border-top: 3px solid darkred;
    border-bottom: 3px solid darkred;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    padding: 20px;
    text-decoration: none;
}

.linkBar a:hover {
    border-top: 3px solid red;
    border-bottom: 3px solid red;
}
.linkBar a:visited {
    color: white !important;
}

@media (max-width: 768px) {
    .sideLinkMenu {
        width: 100%;
        margin-top: 400px;
    }
    .linkBar {
        width: 100%;
        top: 0;
        right: 0;
    }
}