body {
    background-color:#242424;
}
p {
    font-family: Verdana;
    font-size: 16px;
    color: white;
}

#temp-link-storage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bgPic {
    
}

.sideLinkMenu {

}

.linkBar {

}